body {
	font: 14px 'Open Sans', "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #fafafa;
}

code {
	background-color: #f5eee2;
}

hr {
	margin: 15px 0;
}

a {
	color: #00657a;
	font-weight: bold;
}

a:hover {
	color: #00657a;
}

::selection {
	background-color: #68e4ff;
}

thead {
	background-color: #00a9e1!important;
}

.table td, .table th {
	border-top: 1px solid #00657a;
}

img.header-image {
	margin-top: -10px;
	margin-bottom: -5px;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

code, .monospace {
	font-family: "Cousine", monospace;
}

.properties-header {
	width: 180px;
	text-align: right;
}

.word-wrap {
	word-wrap: break-word;
	word-break: break-all;
}

.tag {
	border-radius: 4px;
	background-color: #0275d8;
	color: white;
	padding: 2px 5px;
	margin-right: 4px;
}

#subheader a {
	margin-right: 20px;
}

.data-cell, .data-header {
	text-align: right;
}

.btn-primary {
	color: black;
	background-color: #0090af;
	border-color: #00657a;
}

.btn-primary:hover {
	color: black;
	background-color: #00b4db;
	border-color: #00657a;
}

.btn-primary:active {
        color: white!important;
        background-color: #00b4db!important;
        border-color: #00657a!important;
	box-shadow: 0px 1px 1px #00a9e1 inset, 2px 2px 4px #00657a!important;
}

.btn-primary:focus {
	box-shadow: 0px 1px 1px #00657a inset, 2px 2px 4px #00657a!important;
}

.bg-dark {
	background-color: #00a9e1!important;
}

.navbar-brand {
	font-weight: bold;
}

.nav-link {
	border-color: #00657a!important;
	font-weight: bold;
}

.nav-link:hover {
	background-color: #00a9e1!important;
}

.nav-link.active {
	color: #495057!important;
	background-color: #00a9e1!important;
	border-color: #00657a!important;
}

.alert-info {
	background-color: #f39797;
	border-color: #00657a;
	color: black;
}

.alert-success {
        background-color: #c6ffd7;
        border-color: #07860b;
        color: black;
}

.form-control {
	background-color: #e8fbff;
}

.form-control:hover {
        background-color: #fafafa;
        box-shadow: 0px 1px 1px #00657a inset, 2px 2px 4px #00657a!important;
}

.form-control:focus {
        background-color: #fafafa;
	box-shadow: 0px 1px 1px #00657a inset, 2px 2px 4px #00657a!important;
}

.card {
	background-color: #e8fbff;
}

.tag {
	color: black;
	background-color: #00a9e1;
}


.page-link {
	color: #495057!important;
	border-color: #9c8300!important;
}

.page-link:hover {
        background-color: #00a9e1!important;
	box-shadow: 0px 1px 1px #00657a inset, 1px 1px 2px #00657a!important;
	border-color: #00657a!important;
}

.page-item.active .page-link {
        color: #495057!important;
        background-color: #00a9e1!important;
        border-color: #00657a!important;
}

.pagination-lg .page-link {
	padding: .25rem 0.75rem;
	font-size: 1.0rem;
	line-height: 1.5;
}


/* codeflyin */

.table{
	table-layout: fixed;
}
.block__th{
	width: 40%;
}
.block__td{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* brackpoint */

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
	.responsive_false {
		display: none;
	}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.responsive_true{
		display: none;
	}
}
